
{{#each blogPosts}}
<div class="postcard">
    <a href="/post/{{this.id}}">
        <div class="cardheader">
            <h2>{{this.title}}</h2>
            <p>{{this.user.username}} posted on {{format_date this.createdAt}}</p>
        </div>
    </a>
    <div class="cardbody">
        <p>{{this.content}}</p>
    </div>
</div>
{{/each}}